{% extends 'hospital/base.html' %}

{% load staticfiles %}

{% block title %} Home {{ block.super }}{% endblock title %}

{% block content %}
    <div class="container index">
      <div class="container text-center">
        {% include "hospital/includes/success_message.html" %}
      </div>
      <div class="container jumbotron main-jumbo">
          <div class="text-center">
              <h2 class="hospital_name">{{ hospital_name|upper }}</h2> <br>
              <strong class="hospital_slogan">{{ hospital_slogan }} </strong><br>
              I have learned over the years that when one’s mind is made up, this diminishes fear;
               knowing what must be done does away with fear.Nobody cares if you can’t dance well. 
               Just get up and dance. Great dancers are not great because of their technique, they are great because of their passion.
               Let your body be treated by the strength of your soul at Kisiizi Hospital.
          </div>
      </div>
{% endblock content %}
